@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--sidenav-width: 256px;
	--header-height: 96px;
	--cell-width: 54px;
}

/* Extracted from Toggl site */
.light,
html {
	--color-bg: #fff;
	--color-fg: #2c1138;
	--color-plum-5: #f4f3f5;
	--color-plum-10: #eae7eb;
	--color-plum-20: #d5d0d7;
	--color-plum-30: #c0b8c3;
	--color-plum-40: #aba0af;
	--color-plum-50: #95899b;
	--color-plum-60: #817187;
	--color-plum-70: #6b5a74;
	--color-plum-80: #564260;
	--color-plum-90: #412a4c;
	--color-plum-95: #371d42;
	--color-plum-100: #2c1138;
	--color-plum-120: #220a2e;
	--color-plum-135: #1d0b24;
	--color-plum-highlight: #f4f3f5;
	--color-shade-5: #f4f3f5;
	--color-shade-10: #eae7eb;
	--color-shade-20: #d5d0d7;
	--color-shade-30: #c0b8c3;
	--color-shade-40: #aba0af;
	--color-shade-50: #95899b;
	--color-light-5: #fff;
	--color-light-10: #fff;
	--color-light-20: #fff;
	--color-light-30: #fff;
	--color-light-40: #fff;
	--color-light-50: #fff;
	--color-purple-10: #f6f1fe;
	--color-purple-20: #eee4fd;
	--color-purple-30: #e5d6fc;
	--color-purple-40: #dcc8fb;
	--color-purple-50: #d3bafa;
	--color-purple-60: #cbadf9;
	--color-purple-70: #c29ff8;
	--color-purple-80: #b991f7;
	--color-purple-90: #b184f6;
	--color-purple-100: #a876f5;
	--color-purple-ui: #8b55dd;
	--color-purple-ui-hover: #7232d2;
	--color-purple-ui-onclick: #692ec2;
	--color-purple-highlight: #f1ecfe;
	--color-pink-10: #fef1fc;
	--color-pink-20: #fce8fa;
	--color-pink-30: #fadbf7;
	--color-pink-40: #f7cff3;
	--color-pink-50: #f3beee;
	--color-pink-60: #efafe9;
	--color-pink-70: #e797e0;
	--color-pink-80: #df81d7;
	--color-pink-90: #cc70c4;
	--color-pink-ui-hover: #bd42af;
	--color-pink-highlight: #fef1fc;
	--color-error: #e32816;
	--color-error-hover: #ad2114;
	--color-error-onclick: #982116;
	--color-error-disabled: #efd2cf;
	--color-error-highlight: #ffe9ea;
	--color-error-20: #fbe5e4;
	--color-error-20-hover: #f6cbc9;
	--color-error-20-onclick: #f2bbb9;
	--color-error-20-disabled: #f7eae9;
	--color-success: #21a666;
	--color-success-hover: #1a7549;
	--color-success-onclick: #18633e;
	--color-success-disabled: #cce9db;
	--color-success-highlight: #e3f9f1;
	--color-success-20: #f4fbf7;
	--color-success-20-hover: #d3ede0;
	--color-success-20-onclick: #bce4d1;
	--color-success-20-disabled: #e9f6f0;
	--color-peach-5: #fbf3f0;
	--color-peach-10: #fefbfa;
	--color-peach-20: #fef9f7;
	--color-peach-30: #fef6f3;
	--color-peach-40: #fdf4f0;
	--color-peach-50: #fdf1ec;
	--color-peach-60: #fdefe9;
	--color-peach-70: #fdece5;
	--color-peach-80: #fdeae2;
	--color-peach-90: #fce8de;
	--color-peach-100: #fce5db;
	--color-peach-highlight: #fdece5;
}

.dark {
	--color-bg: #220a2e;
	--color-fg: #fff;
	--color-plum-5: #2c1338;
	--color-plum-10: #381e43;
	--color-plum-20: #4d3659;
	--color-plum-30: #644e6e;
	--color-plum-40: #725f7c;
	--color-plum-50: #8e7c98;
	--color-plum-60: #a390ad;
	--color-plum-70: #b7a5c0;
	--color-plum-80: #cbbad4;
	--color-plum-90: #dfd0e7;
	--color-plum-95: #e9dbf0;
	--color-plum-100: #f2e8f8;
	--color-plum-120: #f9f2fc;
	--color-plum-135: #fff;
	--color-plum-highlight: #381e43;
	--color-shade-5: #1c0826;
	--color-shade-10: #16061d;
	--color-shade-20: #13041a;
	--color-shade-30: #0d0311;
	--color-shade-40: #050108;
	--color-shade-50: #020003;
	--color-light-5: #2c1338;
	--color-light-10: #371d42;
	--color-light-20: #3c2447;
	--color-light-30: #402a4c;
	--color-light-40: #452f50;
	--color-light-50: #4b3555;
	--color-purple-10: #2c1141;
	--color-purple-20: #371853;
	--color-purple-30: #411f66;
	--color-purple-40: #4c2678;
	--color-purple-50: #562d8b;
	--color-purple-60: #61349d;
	--color-purple-70: #6b3bb0;
	--color-purple-80: #7642c2;
	--color-purple-90: #8049d5;
	--color-purple-100: #8b50e8;
	--color-purple-ui: #9e69f2;
	--color-purple-ui-hover: #a876f5;
	--color-purple-ui-onclick: #8b55dd;
	--color-purple-highlight: #2c1840;
	--color-pink-10: #33123c;
	--color-pink-20: #431b4b;
	--color-pink-30: #542359;
	--color-pink-40: #652c68;
	--color-pink-50: #753476;
	--color-pink-60: #863c84;
	--color-pink-70: #974593;
	--color-pink-80: #a84da1;
	--color-pink-90: #b856b0;
	--color-pink-ui-hover: #cc70c4;
	--color-pink-highlight: #33123c;
	--color-error: #ed3726;
	--color-error-hover: #f04c3d;
	--color-error-onclick: #e32816;
	--color-error-disabled: #6f1625;
	--color-error-highlight: #3a1930;
	--color-error-20: #2c0b2d;
	--color-error-20-hover: #491029;
	--color-error-20-onclick: #5c1327;
	--color-error-20-disabled: #350d2c;
	--color-success: #21c073;
	--color-success-hover: #1fd17b;
	--color-success-onclick: #21a666;
	--color-success-disabled: #224844;
	--color-success-highlight: #27293f;
	--color-success-20: #221231;
	--color-success-20-hover: #222939;
	--color-success-20-onclick: #22393f;
	--color-success-20-disabled: #221a34;
	--color-peach-5: #220a2e;
	--color-peach-10: #220a2e;
	--color-peach-20: #220a2e;
	--color-peach-30: #220a2e;
	--color-peach-40: #2c1338;
	--color-peach-50: #2c1338;
	--color-peach-60: #2c1338;
	--color-peach-70: #371d42;
	--color-peach-80: #371d42;
	--color-peach-90: #371d42;
	--color-peach-100: #371d42;
	--color-peach-highlight: #381635;
}
